section
  h4 Моноиды
  p Моноидом называется тройка (M, #, u), где # - ассоциативная бинарная операция на M, а u - ее единичный элемент.
  p Моноид полугруппа с нейтральным элементом. m # u = m = u # m

section
  h4 Моноиды
  ul
    li (Int, +, 0)
    li.fragment (Int, *, 1)
    li.fragment (Bool, &&, True)
    li.fragment (Bool, ||, False)
    li.fragment (M, min, Top), где M - вполне упорядоченное множество, а Top - его максимальный элемент
    li.fragment (списки, append, [])
    li.fragment (множества, объединение, пустое множество)
    li.fragment (сортированные списки, merge, пустой список)
    li.fragment (матрицы, умножение, единичная матрица)

section
  h4 Моноиды
  ul
    li.fragment (эндоморфизмы, композиция, тождественная функция), где эндоморфизмом на множестве M называется функция из M в M
    li.fragment (блоки кода, последовательное выполнение, пустой блок кода)