section(data-state="front")
	h2#title-of-talk История
	p
		img(src="https://rawgit.com/bionode/bionode/master/docs/bionode-logo.min.svg" alt="some picture")
section
	h3#second-slide 1899
	p.
		Готлоб Фреге – Begriffsschrift, исчисление понятий
	img(src="./img/1-1.jpg" alt="Готлоб Фреге")