section(data-state="front")
  h2#title-of-talk История
section
  h4 1899
  img(src="./img/1-0.jpg" alt="Георг Кантор")
  p Георг Кантор - Теория множеств
section
  img(src="./img/1-1.jpg" alt="Готлоб Фреге")
  p Готлоб Фреге – Begriffsschrift, исчисление понятий
section
  h4 Парадокс Рассела
  p.
    Пусть K — множество всех множеств, которые не содержат себя в качестве своего элемента.
    Содержит ли K само себя в качестве элемента?
    Если да, то, по определению K, оно не должно быть элементом K — противоречие.
    Если нет — то, по определению K, оно должно быть элементом K — вновь противоречие.
section
  img(src="./img/1-2.jpg" alt="Бертран Рассел")
  p.
    Вряд ли что-нибудь может быть более нежелательным для ученого, чем обнаружить, что основания
    едва завершенной работы рухнули. Письмо, полученное мной от Бертрана Рассела,
    поставило меня именно в такое положение...
section
  h4 Комбинаторная логика 1920
  img(src="./img/1-2.gif" alt="Шейнфинкель Моисей")
  p Шейнфинкель Моисей - О строительных камнях математической логики
  img(src="./img/1-3.jpg" alt="Хаскелл Брукс Карри")
  p Хаскелл Брукс Карри
section
  h4 λ-исчисление 1936
  img(src="./img/1-2.jpg" alt="Алонзо Чёрч")
  p Алонзо Чёрч
  p Теоре́ма Чёрча — Тью́ринга — утверждение об отсутствии алгоритма, решающего проблему разрешения.
