section(data-state="front")
  h2#title-of-talk История
section
  h4 1899
  img(src="./img/1-0.jpg" alt="Георг Кантор")
  p Георг Кантор - Теория множеств
section
  img(src="./img/1-1.jpg" alt="Готлоб Фреге")
  p Готлоб Фреге – Begriffsschrift, исчисление понятий
section
  h4 Парадокс Рассела
  p.
    Пусть K — множество всех множеств, которые не содержат себя в качестве своего элемента.
    Содержит ли K само себя в качестве элемента?
    Если да, то, по определению K, оно не должно быть элементом K — противоречие.
    Если нет — то, по определению K, оно должно быть элементом K — вновь противоречие.
section
  img(src="./img/1-2.jpg" alt="Бертран Рассел")
  p.
    Вряд ли что-нибудь может быть более нежелательным для ученого, чем обнаружить, что основания
    едва завершенной работы рухнули. Письмо, полученное мной от Бертрана Рассела,
    поставило меня именно в такое положение...
section
  h4 Комбинаторная логика 1920
  img(src="./img/1-2.gif" alt="Шейнфинкель Моисей")
  p Шейнфинкель Моисей - О строительных камнях математической логики
  img(src="./img/1-3.jpg" alt="Хаскелл Брукс Карри")
  p Хаскелл Брукс Карри
section
  h4 λ-исчисление 1936
  img(src="./img/1-4.jpg" alt="Алонзо Чёрч")
  p Алонзо Чёрч
  p ТЧТ — утверждение об отсутствии алгоритма, решающего проблему разрешения.
section
  img(src="./img/1-5.gif" alt="Haskell")
section
  h4 1958
  img(src="./img/1-5.jpg" alt="Джон Маккарти")
  p Джон Маккарти
  pre
    code.lisp.
      (define fac (n)
           (if (eq n (quote 0))
               (quote 1)
               (mul n (fac (sub n (quote 1))))))
  p Lots of Infuriating, Stupid Parenthesis
section
  h4 Питер Ландин
  img(src="./img/1-6.jpg" alt="Питер Ландин")
  ul
    li 1964 – SECD
    li 1966 – ISWIM (if you see what I mean)
  pre
    code rec fac(n) = (n = 0) -> 1 ; n fac(n-1)

section
  h4 1963
  img(src="./img/1-7.jpg" alt="Джон Алан Робинсон")
  p.
    Джон Алан Робинсон, принцип резолюции
    → автоматическое доказание теорем

section
  h4 1971
  img(src="./img/1-8.jpg" alt="Алан Колмероэ")
  p Алан Колмероэ – пролог
  p PROgrammation en LOGique
  pre
    code.prolog.
      fac(0, 1).
      fac(N, M):-  sub(N, 1, N1), fac(N1,M1), mul(N, M1, M).
  p 1976 Девид Уоррен - Edinburgh Prolog, WAM

section
  h4 1976
  p Петер Хендерсон и Джеймс Моррис LispKit, лень
  pre
    code.lisp.
      facs = scanl (*) 1 [1..]
      fac n = facs !! n

section
  h4 1977
  img(src="./img/1-9.jpg" alt="Джон Бекус")
  p Джон Бекус, премия Тьюринга за участие в создании Алгола и Фортрана, но! ФВП
  pre
    code def fac = eq o [id , 0] -> 1 ; x o [id , fac o - o [id , 1]]

section
  h4 ML
  img(src="./img/1-10.jpg" alt="Робин Милнер")
  p 1973, Эдинбург, университет
  p ML, metalanguage – полиморфная система типов
  p Робин Милнер

section
  h4 ML
  p Типизация - ?
  p Полиморфизм - ?
  p.fragment.
    Ad hoc полиморфизм, Параметрический полиморфизм

section
  h4 ML
  p Вывод типов (Роджер Хиндли, 69)
  p Ещё и императивный!
  p Standard ML, CAML и чисто функциональный Lazy ML
  pre
    code.ML.
      fun fac(n) = if n = 0 then 1 else n * fac(n-1);

section
  h4 1977, там же, Эдинбург, университет
  p Hope, алгебраические типы данных, сопоставление с образцом
  pre
    code.
      data Bool = False | True
      data List a = Nil
             | Cons a (List a)
  pre
    code.
      dec fact : num -> num;
      --- fact 0 <= 1;
      --- fact n <= n*fact(n-1);

section
  h4 1985
  img(src="./img/1-11.jpg" alt="Дэвид Тёрнер")
  p Дэвид Тёрнер – Miranda, всё вместе!
  ul
    li функции высшего порядка,
    li ленивые вычисления,
    li алгебраические типы данных,
    li параметрический полиморфизм,
    li сопоставление с образцом

section
  h4 Miranda(TM)
  pre
    code.
      fac n = 1, if n = 0
        = n * fac (n - 1), otherwise
  pre
    code.
      сопоставления
      fac 0 = 1
      fac n = n * fac (n-1)
  pre
    code.
      ZF
      fac n  = product [1..n]

section
  h4 Haskell
  ul
    li 1987г. FPCA ‘87 (Functional Programming Languages and Computer Architecture), Орегон
    li 1991г. Haskell 1.0
    li 1999г. The Haskell 98 Report
    li 2010г. Haskell 2010

section
  h4 Орегон '87
  img(src="./img/1-12.jpg")

section
  img(src="./img/1-12.png")